<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @user == current_user %>
        <%= link_to "編集する", edit_user_path %>
      <% end %>
      <% if @user.id == current_user.id %>
      <% else %>
        <% if @isRoom == true %>
          <p><a href="/rooms/<%= @roomId %>">メッセージ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "メッセージを送る" %>
          <% end %>
        <% end %>
      <% end %>
        <% if current_user.admin? %>
          <% if @event %>
            <p><%= link_to "スケジュール", event_path(@event) %></p>
          <% else %>
            <p><%= link_to "スケジュール", event_path(@user) %></p>
          <% end %>
        <% else %>
          <% if current_user == @user %>
            <% if @event %>
              <p><%= link_to "スケジュール", event_path(@event) %></p>
            <% else %>
              <p><%= link_to "スケジュール", event_path(@user) %></p>
            <% end %>
          <% end %>
        <% end %>
    </section>
  </aside>
</div>
