<h1>スケジュールを追加</h1>


<%= form_with(model: @event, local: true) do |form| %>

  <div class="number">
    <%= form.label :レッスン回数 %>
    <%= form.number_field :number ,{min: 1, max: 60} %>
  </div>

  <div class="lesson_time">
    <%= form.label :レッスン時間 %>
    <%= form.select :lesson_time, {'30分': 1, '１時間': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

  <div class="time">
    <%= form.label :レッスン開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :メモ %>
    <%= form.text_field :content %>
  </div>

  <%= form.hidden_field :user_id, :value=> @user.id %>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
