<% provide(:title, 'Events') %>

<h1><%= @user.name %>さんのレッスンスケジュール</h1>
<div class="row">
  <div class="col-md-2 col-md-offset-0">
    <%= form_with(model: @event, local: true) do |form| %>

      <%= form.label :レッスン回数 %>
      <%= form.number_field :number ,{min: 1, max: 60} %>

      <%= form.label :レッスン時間 %>
      <%= form.select :lesson_time, {'30分': 30, '１時間': 60}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

      <%= form.label :レッスン開始時間 %>
      <%= form.datetime_select :start_time %>

      <%= form.label :メモ %>
      <%= form.text_field :content %>

      <%= form.hidden_field :user_id, :value=> @user.id %>

      <%= form.submit :登録, class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-10 col-md-offset-0">

    <% if current_user.admin? %>
      <%= month_calendar events: @all_events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <% user = User.find_by(id: event.user_id)  %>
          <li>
            <%= link_to user.name, "#" %>さん
          </li>
        <% end %>
      <% end %>
    <% else %>
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <% user = User.find_by(id: event.user_id) %>
          <li>
            <%= link_to user.name, "#" %>さん
          </li>
        <% end %>
      <% end %>
    <% end %>
    <table class="events table table-bordered">
			<thead>
				<tr>
					<th>レッスン回数    /年間60回</th>
					<th>レッスン日時</th>
					<th>レッスン時間</th>
					<th>メモ</th>
				</tr>
		  </thead>
			<% @events.each do |event| %>
				<tbody>
					<tr>
						<td><%= event.number%>回目</td>
						<td><%= event.start_time.strftime("%Y年%m月%d日 %H:%M") %>~</td>
            <td><%= event.lesson_time%>分</td>
						<td><%= event.content%></td>
						<td><%=link_to "編集", "#",:class=>"btn04" %></td>
						<td><%=link_to "削除", "#", data: {confirm:"削除しますか"} ,:class=>"btn03" %></td>
					</tr>
				</tbody>
			<% end %>
  		</table>
  </div>
</div>
